In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("my_file.csv")

In [3]:
df.head

<bound method NDFrame.head of     Rank   Peak All Time Peak     Actual gross  \
0      1      1             2     $780,000,000
1      2      1          7[2]     $579,800,000
2      3   1[4]          2[5]     $411,000,000
3      4   2[7]         10[7]     $397,300,000
4      5   2[4]           NaN     $345,675,146
5      6   2[4]         10[9]     $305,158,363
6      7  2[10]           NaN     $280,000,000
7      7    NaN           NaN     $257,600,000
8      9    NaN           NaN     $256,084,556
9     10    NaN           NaN     $250,400,000
10    11    NaN           NaN  $229,100,000[b]
11    12    NaN        14[17]     $227,400,000
12    13    NaN           NaN     $204,000,000
13    14  1[20]           NaN     $200,000,000
14    15   2[c]           NaN     $194,000,000
15    16    NaN           NaN     $184,000,000
16    17    NaN           NaN     $170,000,000
17    18    NaN           NaN     $169,800,000
18    19    NaN           NaN  $167,700,000[e]
19    20    NaN           NaN     $150,000,000

   Adjusted gross (in 2022 dollars)        Artist  \
0                      $780,000,000  Taylor Swift
1                      $579,800,000       Beyoncé
2                      $560,622,615       Madonna
3                      $454,751,555          Pink
4                      $402,844,849  Taylor Swift
5                      $388,978,496       Madonna
6                      $381,932,682   Celine Dion
7                      $257,600,000          Pink
8                      $312,258,401       Beyoncé
9                      $309,141,878  Taylor Swift
10                     $283,202,896       Beyoncé
11                     $295,301,479     Lady Gaga
12                     $251,856,802    Katy Perry
13                     $299,676,265          Cher
14                     $281,617,035       Madonna
15                     $227,452,347          Pink
16                     $213,568,571     Lady Gaga
17                     $207,046,755       Madonna
18                     $204,486,106         Adele
19                     $185,423,109  Taylor Swift

                                  Tour title    Year(s)  Shows Average gross  \
0                            The Eras Tour †  2023–2024     56   $13,928,571
1                     Renaissance World Tour       2023     56   $10,353,571
2                Sticky & Sweet Tour ‡[4][a]  2008–2009     85    $4,835,294
3                Beautiful Trauma World Tour  2018–2019    156    $2,546,795
4                    Reputation Stadium Tour       2018     53    $6,522,173
5                              The MDNA Tour       2012     88    $3,467,709
6                  Taking Chances World Tour  2008–2009    131    $2,137,405
7                          Summer Carnival †  2023–2024     41    $6,282,927
8                   The Formation World Tour       2016     49    $5,226,215
9                        The 1989 World Tour       2015     85    $2,945,882
10           The Mrs. Carter Show World Tour  2013–2014    132    $1,735,606
11                   The Monster Ball Tour *  2009–2011    203    $1,118,227
12                      Prismatic World Tour  2014–2015    151    $1,350,993
13  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325      $615,385
14                          Confessions Tour       2006     60    $3,233,333
15                 The Truth About Love Tour  2013–2014    142    $1,295,775
16                        Born This Way Ball  2012–2013     98    $1,734,694
17                          Rebel Heart Tour  2015–2016     82    $2,070,732
18                           Adele Live 2016  2016–2017    121    $1,385,950
19                              The Red Tour  2013–2014     86    $1,744,186

        Ref.
0        [1]
1        [3]
2        [6]
3        [7]
4        [8]
5        [9]
6       [11]
7       [12]
8       [13]
9       [14]
10  [15][16]
11      [18]
12      [19]
13      [20]
14       [5]
15      [22]
16       [d]
17       [4]
18      [25]
19      [26]  >

In [4]:
df.drop(columns=['Rank', 'Peak', 'All Time Peak', 'Ref.'], inplace=True)

In [6]:
df.head(20)

,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571"
1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571"
2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294"
3,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795"
4,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173"
5,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709"
6,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405"
7,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927"
8,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215"
9,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882"
10,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606"
11,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227"
12,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993"
13,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385"
14,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333"
15,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775"
16,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694"
17,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732"
18,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950"
19,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186"

In [9]:
df.columns = df.columns.str.replace('\xa0', ' ').str.strip()

In [10]:
df['Actual gross'] = df['Actual gross'].str.replace(r'[$,\[\]a-zA-Z]', '', regex=True).astype(float)
df['Adjusted gross (in 2022 dollars)'] = df['Adjusted gross (in 2022 dollars)'].str.replace(r'[$,\[\]a-zA-Z]', '', regex=True).astype(float)

print(df.head(20))

    Actual gross  Adjusted gross (in 2022 dollars)        Artist  \
0    780000000.0                       780000000.0  Taylor Swift
1    579800000.0                       579800000.0       Beyoncé
2    411000000.0                       560622615.0       Madonna
3    397300000.0                       454751555.0          Pink
4    345675146.0                       402844849.0  Taylor Swift
5    305158363.0                       388978496.0       Madonna
6    280000000.0                       381932682.0   Celine Dion
7    257600000.0                       257600000.0          Pink
8    256084556.0                       312258401.0       Beyoncé
9    250400000.0                       309141878.0  Taylor Swift
10   229100000.0                       283202896.0       Beyoncé
11   227400000.0                       295301479.0     Lady Gaga
12   204000000.0                       251856802.0    Katy Perry
13   200000000.0                       299676265.0          Cher
14   194000000.0                       281617035.0       Madonna
15   184000000.0                       227452347.0          Pink
16   170000000.0                       213568571.0     Lady Gaga
17   169800000.0                       207046755.0       Madonna
18   167700000.0                       204486106.0         Adele
19   150000000.0                       185423109.0  Taylor Swift

                                  Tour title    Year(s)  Shows Average gross
0                            The Eras Tour †  2023–2024     56   $13,928,571
1                     Renaissance World Tour       2023     56   $10,353,571
2                Sticky & Sweet Tour ‡[4][a]  2008–2009     85    $4,835,294
3                Beautiful Trauma World Tour  2018–2019    156    $2,546,795
4                    Reputation Stadium Tour       2018     53    $6,522,173
5                              The MDNA Tour       2012     88    $3,467,709
6                  Taking Chances World Tour  2008–2009    131    $2,137,405
7                          Summer Carnival †  2023–2024     41    $6,282,927
8                   The Formation World Tour       2016     49    $5,226,215
9                        The 1989 World Tour       2015     85    $2,945,882
10           The Mrs. Carter Show World Tour  2013–2014    132    $1,735,606
11                   The Monster Ball Tour *  2009–2011    203    $1,118,227
12                      Prismatic World Tour  2014–2015    151    $1,350,993
13  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325      $615,385
14                          Confessions Tour       2006     60    $3,233,333
15                 The Truth About Love Tour  2013–2014    142    $1,295,775
16                        Born This Way Ball  2012–2013     98    $1,734,694
17                          Rebel Heart Tour  2015–2016     82    $2,070,732
18                           Adele Live 2016  2016–2017    121    $1,385,950
19                              The Red Tour  2013–2014     86    $1,744,186

In [15]:
df['Artist'] = df['Artist'].str.replace(r'[†‡*]|\[.*?\]', '', regex=True).str.strip()
df['Tour title'] = df['Tour title'].str.replace(r'[†‡*]|\[.*?\]', '', regex=True).str.strip()

df.head(20)

,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Start_Year,End_Year
0,780000000.0,780000000.0,Taylor Swift,The Eras Tour,2023–2024,56,"$13,928,571",2023,2024
1,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",2023,NaN
2,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour,2008–2009,85,"$4,835,294",2008,2009
3,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",2018,2019
4,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",2018,NaN
5,305158363.0,388978496.0,Madonna,The MDNA Tour,2012,88,"$3,467,709",2012,NaN
6,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",2008,2009
7,257600000.0,257600000.0,Pink,Summer Carnival,2023–2024,41,"$6,282,927",2023,2024
8,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,49,"$5,226,215",2016,NaN
9,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",2015,NaN
10,229100000.0,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",2013,2014
11,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,2009–2011,203,"$1,118,227",2009,2011
12,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",2014,2015
13,200000000.0,299676265.0,Cher,Living Proof: The Farewell Tour,2002–2005,325,"$615,385",2002,2005
14,194000000.0,281617035.0,Madonna,Confessions Tour,2006,60,"$3,233,333",2006,NaN
15,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",2013,2014
16,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",2012,2013
17,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",2015,2016
18,167700000.0,204486106.0,Adele,Adele Live 2016,2016–2017,121,"$1,385,950",2016,2017
19,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",2013,2014

In [14]:
df[['Start_Year', 'End_Year']] = df['Year(s)'].str.replace(r'\[.*?\]', '', regex=True).str.split(r'[–-]', expand=True)

In [16]:
df.head(20)

,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Start_Year,End_Year
0,780000000.0,780000000.0,Taylor Swift,The Eras Tour,2023–2024,56,"$13,928,571",2023,2024
1,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",2023,NaN
2,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour,2008–2009,85,"$4,835,294",2008,2009
3,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",2018,2019
4,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",2018,NaN
5,305158363.0,388978496.0,Madonna,The MDNA Tour,2012,88,"$3,467,709",2012,NaN
6,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",2008,2009
7,257600000.0,257600000.0,Pink,Summer Carnival,2023–2024,41,"$6,282,927",2023,2024
8,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,49,"$5,226,215",2016,NaN
9,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",2015,NaN
10,229100000.0,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",2013,2014
11,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,2009–2011,203,"$1,118,227",2009,2011
12,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",2014,2015
13,200000000.0,299676265.0,Cher,Living Proof: The Farewell Tour,2002–2005,325,"$615,385",2002,2005
14,194000000.0,281617035.0,Madonna,Confessions Tour,2006,60,"$3,233,333",2006,NaN
15,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",2013,2014
16,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",2012,2013
17,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",2015,2016
18,167700000.0,204486106.0,Adele,Adele Live 2016,2016–2017,121,"$1,385,950",2016,2017
19,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",2013,2014

In [17]:
df['End_Year'] = df['End_Year'].fillna(df['Start_Year'])

In [18]:
df.head(20)

,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Start_Year,End_Year
0,780000000.0,780000000.0,Taylor Swift,The Eras Tour,2023–2024,56,"$13,928,571",2023,2024
1,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",2023,2023
2,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour,2008–2009,85,"$4,835,294",2008,2009
3,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",2018,2019
4,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",2018,2018
5,305158363.0,388978496.0,Madonna,The MDNA Tour,2012,88,"$3,467,709",2012,2012
6,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",2008,2009
7,257600000.0,257600000.0,Pink,Summer Carnival,2023–2024,41,"$6,282,927",2023,2024
8,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,49,"$5,226,215",2016,2016
9,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",2015,2015
10,229100000.0,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",2013,2014
11,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,2009–2011,203,"$1,118,227",2009,2011
12,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",2014,2015
13,200000000.0,299676265.0,Cher,Living Proof: The Farewell Tour,2002–2005,325,"$615,385",2002,2005
14,194000000.0,281617035.0,Madonna,Confessions Tour,2006,60,"$3,233,333",2006,2006
15,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",2013,2014
16,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",2012,2013
17,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",2015,2016
18,167700000.0,204486106.0,Adele,Adele Live 2016,2016–2017,121,"$1,385,950",2016,2017
19,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",2013,2014

In [19]:
df = df.drop(columns=['Year(s)'])

In [20]:
df.head(20)

,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Shows,Average gross,Start_Year,End_Year
0,780000000.0,780000000.0,Taylor Swift,The Eras Tour,56,"$13,928,571",2023,2024
1,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,56,"$10,353,571",2023,2023
2,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour,85,"$4,835,294",2008,2009
3,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018,2019
4,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018,2018
5,305158363.0,388978496.0,Madonna,The MDNA Tour,88,"$3,467,709",2012,2012
6,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008,2009
7,257600000.0,257600000.0,Pink,Summer Carnival,41,"$6,282,927",2023,2024
8,256084556.0,312258401.0,Beyoncé,The Formation World Tour,49,"$5,226,215",2016,2016
9,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015,2015
10,229100000.0,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,132,"$1,735,606",2013,2014
11,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,203,"$1,118,227",2009,2011
12,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,151,"$1,350,993",2014,2015
13,200000000.0,299676265.0,Cher,Living Proof: The Farewell Tour,325,"$615,385",2002,2005
14,194000000.0,281617035.0,Madonna,Confessions Tour,60,"$3,233,333",2006,2006
15,184000000.0,227452347.0,Pink,The Truth About Love Tour,142,"$1,295,775",2013,2014
16,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,98,"$1,734,694",2012,2013
17,169800000.0,207046755.0,Madonna,Rebel Heart Tour,82,"$2,070,732",2015,2016
18,167700000.0,204486106.0,Adele,Adele Live 2016,121,"$1,385,950",2016,2017
19,150000000.0,185423109.0,Taylor Swift,The Red Tour,86,"$1,744,186",2013,2014